= form_tag url_for(controller: params[:controller]), method: :get do
  %span.hover_wrapper
    %i.hover_button{:class => 'icon-info-sign icon-2x'}
    %div.hover_info Searches the #{@default_search_column} column by default. Other columns can be searched with the format: underscored_column_name="value", no spaces.
  = text_field_tag :search, params[:search], placeholder: "Search #{params[:controller].titleize}", id: 'search_box'
  = submit_tag "Search", class: 'btn btn-primary', id: 'search_button'
