= simple_form_for(simulator) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :version
    = f.input :email, input_html: { value: current_user.email }
    = f.input :source, as: :file, label: "Zipped Source"

  .form-actions
    = f.button :submit, "Upload Simulator"
