%tr
  -if role.deviating_strategies.include? deviating_strategy
    %td= deviating_strategy
    %td.hidden= link_to 'Remove Deviating Strategy', "/schedulers/#{scheduler.id}/roles/#{role.name}/remove_deviating_strategy?strategy=#{deviating_strategy}", method: :post, class: 'btn btn-mini btn-warning'
  -else
    %td.hidden.unselected= deviating_strategy
    %td.hidden= link_to 'Add Deviating Strategy', url_for({ action: :add_deviating_strategy, controller: :roles, id: role.name, scheduler_id: role_owner.id, "deviating_#{role.name}_strategy".to_sym => deviating_strategy }), method: :post, class: 'btn btn-mini btn-info'
