%tr
  %td= role.name
  %td= role.count
  %td
    %table
      =render partial: "strategy", collection: role.strategies, locals: {role: role.name}
      -if (scheduler.available_strategies(role.name)) != []
        =form_tag scheduler_role_strategies_path(scheduler.id, role.name), method: :post do
          %tr
            %td= select_tag "#{role.name}_strategy", options_for_select(scheduler.available_strategies(role.name))
            %td= submit_tag "Add Strategy", class: 'btn btn-mini btn-info'
  %td= link_to 'Remove Role', scheduler_role_path(scheduler.id, role.name), method: :delete, class: 'btn btn-danger'