%tr
  %td= link_to scheduler.name, scheduler
  %td= link_to scheduler.type, scheduler
  %td= link_to scheduler.simulator_fullname, simulator_path(scheduler.simulator_id)
  %td= link_to (scheduler.active ? "Yes" : "No"), scheduler
  %td
    = link_to 'Edit', edit_scheduler_path(scheduler), class: 'btn btn-mini'
    = link_to 'Destroy', scheduler_path(scheduler), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-mini btn-danger'