= simple_form_for game, url: "/#{model_name.tableize}/#{game.id}/duplicate", method: :post, html: {class: 'form-inline' } do |f|
  = f.input :name, input_html: {value: "#{game.name}_copy"}#{value: session[:entry] ? session[:entry] : "#{game.name}_copy"}
  = f.button :submit, "Copy Game"
