%div= link_to 'Toggle Editable', '#', method: :get, class: 'btn btn-secondary', id: 'toggle_editable_link'

#roles= render partial: "role_table"
%p="#{profile_counts["count"]} profile(s) and #{profile_counts["observations_count"] || 0} observation(s) as currently configured."
%p=control_variate_statement
= link_to "Set Control Variates", edit_game_control_variable_path(game.id, game.simulator_instance_id), class: 'btn btn-primary'
= link_to "Analyze JSON in EGAT", create_process_game_path(game.id), method: :post, class: 'btn btn-primary'
= link_to 'Link to Analyses', game_analyses_path(game), class: 'btn btn-primary'
