<div class="fluxError alert alert-error">
</div>

<div id = "set">
	<h1>Set Arguments</h1>
	<%= form_tag(analyze_learning_game_path, remote: true, role: "form") do%>
		<fieldset ><!-- PBS Arguments -->
			<legend>PBS Script Arguments:</legend>
			<div>
				<label for="time">Scripts Running Time</label>	
				<div>
					<%= select_tag "day", options_for_select((0..7).step(1), @day )%>day(s)
					<%= select_tag "hour", options_for_select((0..23).step(1), @hour) %>hour(s)
					<%= select_tag "min", options_for_select((0..59).step(1), @minute)%>minute(s)
				</div>
			</div>
			<div>
				<label for="memory">Allocated Memory</label>	
				<div>
					<%= number_field_tag("memory", @memory, {step:1, min:0})%>
					<%= select_tag("unit", "<option  selected='selected' >#{@memory_unit}</option> <option>gb</option>".html_safe)%>
				</div>
			</div>
		</fieldset><!--End of PBS arguments-->
		
		<fieldset id = "learning"><!-- Learning Scripts' Arguments -->	
			<legend>Learning Script Arguments:</legend>

			<div><!--verbose flag -->
				<%= label_tag("enable_verbose", "Enable Verbose Flag ") %>	
				<%= check_box_tag('enable_verbose', 'enable_verbose', @enable_verbose)%>
			</div><!--End of verbose flag -->

			<hr>
			<%= label_tag("regret", "Regret: Max allowed regret for approximate Nash equilibrium:") %>
			<%= number_field_tag("regret", @regret, {step:0.001, min:0})%>
			<%= label_tag("dist", "Dist: L2-distance threshold to consider equilibrium distinct:") %>
			<%= number_field_tag("dist",  @dist, {step:0.001,min:0})%>
			<%= label_tag("support", "Support: Min probability for a strategy to be considered in support:") %>
			<%= number_field_tag("support", @support, {step:0.001,min:0})%>
			<%= label_tag("converge", "Converge: Replicator dynamics convergence threshold:") %>
			<%= number_field_tag("converge", @converge,{step:1e-8, min:0, class: "enable"})%>
			<%= label_tag("iters", "Iters: Max replicator dynamics iterations:") %>
			<%= number_field_tag("iters", @iters, {step:1, min:0, class: "enable"})%>
			<%= label_tag("points", "Points: Number of random points from which to initialize replicator dynamics:") %>
			<%= number_field_tag("points", @points, {step:1, min:0})%>
			
		</fieldset><!-- End of Analysis Scripts' Arguments -->	
		<br />
	<%= submit_tag("Set Arguments")%>
	<% end %>
</div>

<div id = "processing">
	<h1>Analyzing</h1>
</div>