<div id = "set">
	<h1>Set Arguments</h1>
	<%= form_tag(analyze_game_path, remote: true) do%>		
		<fieldset id = "reduced"><!--Reduced Scripts' Arguments -->
			<div>
				<%= label_tag('enable_reduced', 'Enable Reduced Script') %>
			    <%= check_box_tag('enable_reduced', 'enable_reduced' , true)%>
			</div>
			<legend>Reduced Script Arguments:</legend>
			<div>
				<label for="reduced_mode">Reduced Mode:</label>			
				<%= radio_button_tag(:reduced_mode, "DPR", true, class: "reduced_input") %>
				<%= label_tag(:reduced_mode_dpr, "DPR") %>
				<%= radio_button_tag(:reduced_mode, "HR", false, class: "reduced_input") %>
				<%= label_tag(:reduced_mode_tr, "HR") %>
			</div>
			<!-- role names should be in aphabetical order-->
			<div>Reduced Number of Player in Each Role:</div>		
	 		<% game.roles.each do |role| %>
			<% @name = role.name%>
			<% @count = role.count %>
			<div>
				<%= label_tag(@name, @name) %>	
			 	<%= number_field_tag(@name, @count, in: 1...@count + 1 , class: "reduced_input")%>
		 	</div>
		 	<% end %>
		</fieldset><!-- End of Reduced Scripts' Arguments -->

		<fieldset id = "analysis"><!-- Analysis Scripts' Arguments -->	
			<legend>Analysis Script Arguments:</legend>
			<%= label_tag("regret", "Max allowed regret for approximate Nash equilibria:") %>
			<%= number_field_tag("regret", 1e-3, step:0.001)%>

			<%= label_tag("dist", "L2-distance threshold to consider equilibria distinct:") %>
			<%= number_field_tag("dist", 1e-3, step:0.001)%>

			<%= label_tag("support", "Min probability for a strategy to be considered in support:") %>
			<%= number_field_tag("support", 1e-3, step:0.001)%>

			<%= label_tag("converge", "Replicator dynamics convergence threshold:") %>
			<%= number_field_tag("converge", 1e-8,{step:1e-8, class: "enable"})%>

			<%= label_tag("iters", "Max replicator dynamics iterations:") %>
			<%= number_field_tag("iters", 10000, {step:1, class: "enable"})%>

			<!--Subgame argument -->
			<!-- <%= label_tag("known", "Name of file containing known subgames:") %>
			<%= text_field_tag("known","")%> -->
			<!-- 		"Will be overwritten with new subgames."-->	
		</fieldset><!-- End of Analysis Scripts' Arguments -->	
		<br />
		<%= submit_tag("Set Arguments")%>
	<% end %>
</div>
<div id = "processing">
<h1>Analyzing...</h1>
	<p>We will send you an email when the anlyasis output is ready. Please click the link at the game page to download your file.</p>
</div>