%tr
  %td= symmetry_group.role
  %td= symmetry_group.strategy
  %td.fixed= symmetry_group.payoff
  %td.fixed= symmetry_group.payoff_sd
  %td.fixed= symmetry_group.adjusted_payoff
  %td.fixed= symmetry_group.adjusted_payoff_sd
