%div
  %h3#index_header_box Profiles
  %div#search_form_box
    = form_tag params, method: :get do
      = text_field_tag :profile_search, params[:profile_search], placeholder: "Search Profiles", id: 'search_form'
      = submit_tag "Search", class: 'btn btn-primary', id: 'search_button'
%table.table.table-striped
  %thead
    %tr
      %th= sortable "profiles.assignment", "Assignment"
      %th= sortable "count", "Requested Observations"
      %th= sortable "profiles.observations_count", "Observation Count"
  %tbody
    =render partial: "scheduling_requirements/scheduling_requirement", collection: scheduling_requirements
= paginate(scheduling_requirements, remote: true)
